@import '/src/assets/ngxform/style/variables.scss';

.container-fluid {
    overflow: hidden;
    padding: 20px;
    position: relative;

    .breif {
        width: 100%;
        display: flex;
        flex-direction: column;

        .product-brief {
            flex: 1;
            .playground-button {
                background-color: $primary;
                color: $text-light;
                padding: 12px 25px;
                font-weight: 400;
                height: auto;
            }
        }
    
        .about {
            background-color: #d3d3d359;
            box-shadow: 0 4px 8px 0 rgb(150 150 150 / 25%);
            padding: 20px;
            border-radius: 15px;
            max-height: 100px;
            width: 100%;
            flex: 1;
            display: flex;

            .profile {
                .profile-image {
                    width: 62px;
                    height: 62px;
                    border-radius: 50%;
                    border: 5px solid #3f3f3f1f;
                }
            }

            .profile-details {
                padding-left: 20px;
            }
        }
    }



    .guide {
        background-color: $background;
        border-radius: 15px;
        box-shadow: 0 4px 8px 0 rgba(239, 239, 239, 0.2);
    }
}

::ng-deep {
    .mdc-tab {
        justify-content: flex-start !important;
        padding: auto 0px !important;
    }

    .mat-mdc-tab-group.mat-mdc-tab-group-stretch-tabs>.mat-mdc-tab-header .mat-mdc-tab {
        flex-grow: initial !important;
    }

    .mat-mdc-tab-labels { 
        border-bottom: 0.5px solid #ccc;
    }
}