<h5 class="page-heading">{{ example.name }}</h5>

<p class="description">{{ example.description }}</p>

<mat-tab-group (selectedTabChange)="onTabChanged($event);">
    <mat-tab label="UI">
        <div class="ui">
            <ngx-dynamic-form [form$]="form"></ngx-dynamic-form>
        </div>
    </mat-tab>
    <mat-tab label="Code">
        <div class="editor-container">
            <ngx-monaco-editor class="editor" [options]="editorOptions" [(ngModel)]="code"
                (onInit)="initEditor($event)"></ngx-monaco-editor>
        </div>
    </mat-tab>
</mat-tab-group>