<div class="container-fluid">
    <div class="row g-2">
        <div class="col-md-7">
            <ngx-dynamic-form [form$]="form"></ngx-dynamic-form>
        </div>
        <div class="col-md-5">
            <ngx-monaco-editor 
                class="editor" 
                [options]="editorOptions" 
                [(ngModel)]="code"
                (onInit)="initEditor($event)"
                (ngModelChange)="onEditorChange($event)"
            ></ngx-monaco-editor>
        </div>
    </div>
</div>