@use "tailwindcss";
@use '@angular/material' as mat;
@use './assets/styles/variables' as *;


$primary: mat.m2-define-palette(mat.$m2-indigo-palette);
$accent: mat.m2-define-palette(mat.$m2-pink-palette);
$warn: mat.m2-define-palette(mat.$m2-red-palette);

$theme: mat.m2-define-light-theme((
  color: (
    primary: $primary,
    accent: $accent,
    warn: $warn,
  )
));

@include mat.all-component-themes($theme);
@include mat.all-component-typographies();


html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

h2, h1, h3, h4, h5, h6 {
  font-family: $font-family-bold;
}

p {
  font-family: $font-family-base;
}