@use 'sass:math';

@font-face {
    font-family: 'Avenir-Black';
    src: url('../font/avenir-black/AvenirLTStd-Black.eot');
    src: url('../font/avenir-black/AvenirLTStd-Black.eot?#iefix') format('embedded-opentype'),
         url('../font/avenir-black/AvenirLTStd-Black.woff2') format('woff2'),
         url('../font/avenir-black/AvenirLTStd-Black.woff') format('woff'),
         url('../font/avenir-black/AvenirLTStd-Black.ttf') format('truetype'),
         url('../font/avenir-black/AvenirLTStd-Black.svg#AvenirLTStd-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir-Book';
    src: url('../font/avenir-book/AvenirLTStd-Book.eot');
    src: url('../font/avenir-book/AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),
         url('../font/avenir-book/AvenirLTStd-Book.woff2') format('woff2'),
         url('../font/avenir-book/AvenirLTStd-Book.woff') format('woff'),
         url('../font/avenir-book/AvenirLTStd-Book.ttf') format('truetype'),
         url('../font/avenir-book/AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir-Roman';
    src: url('../font/avenir-roman/AvenirLTStd-Roman.eot');
    src: url('../font/avenir-roman/AvenirLTStd-Roman.eot?#iefix') format('embedded-opentype'),
         url('../font/avenir-roman/AvenirLTStd-Roman.woff2') format('woff2'),
         url('../font/avenir-roman/AvenirLTStd-Roman.woff') format('woff'),
         url('../font/avenir-roman/AvenirLTStd-Roman.ttf') format('truetype'),
         url('../font/avenir-roman/AvenirLTStd-Roman.svg#AvenirLTStd-Roman') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}



$font-family-avenir-black:  'Avenir-Black', 'Arial', sans-serif;
$font-family-avenir-roman:  'Avenir-Roman', 'Arial', sans-serif;
$font-family-avenir-book:   'Avenir-Book', 'Arial', sans-serif;

$font-family-base:        $font-family-avenir-book;
$font-family-normal:      $font-family-base;
$font-family-medium:      $font-family-avenir-roman;
$font-family-bold:        $font-family-avenir-black;

$font-size-base:          14px;
$font-size-medium:        13px;
$font-size-large:         math.floor(($font-size-base * 1.3)); // ~18px
$font-size-small:         11px; // ~12px
$font-size-h:              16px;

$font-size-h1:            math.floor(($font-size-base * 2.6)); // ~36px
$font-size-h2:            math.floor(($font-size-base * 1.71)); // ~30px
$font-size-h3:            math.floor(($font-size-base * 1.29)); // ~24px
$font-size-h4:            math.floor(($font-size-base * 1.14)); // ~18px
$font-size-h5:            $font-size-base;
$font-size-h6:            math.floor(($font-size-base * 0.86)); // ~12px


//** Unit-less `line-height` for use in components like buttons.
$line-height-base:        1.428571429; // 20/14
//** Computed "line-height" (`font-size` * `line-height`) for use with `margin`, `padding`, etc.
$line-height-computed:    math.floor(($font-size-base * $line-height-base)); // ~20px

$line-height-large:         1.3333333; // extra decimals for Win 8.1 Chrome
$line-height-small:         1.5;

$letter-spacing-1:            1px; 
$letter-spacing-2:            2px; 
$letter-spacing-3:            3px; 

// Colors
$text-color: #1e1e1e;
$primary: #008080;
$text-light: #fafafa;
$background: #ffffff;


//Media Queies 

@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
  }
  @mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
  }
  @mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
  }
  @mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
  }
  @mixin  bellow-1200 {
    @media (max-width: 1400px) { @content; }
  }
  @mixin for-big-desktop-up {
    @media (min-width: 1500px) { @content; }
  }
  @mixin min-height-550 {
    @media (min-height: 500px) { @content; }
  }

